name: Python CI/CD

on:
  push:
    branches: [ "main", "principal" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pytest pyinstaller
          if [ -f requisitos.txt ]; then pip install -r requisitos.txt; fi

      - name: Run tests
        run: pytest pruebas/

      - name: Build executable
        run: pyinstaller --onefile app.py

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: python-crud-executable
          path: dist/